{% extends "layout.html" %}
{% block body %}
<h1>Admin</h1>

<span> There are <strong>{{users|length}}</strong> users registered.</span>
<h3>Users 2G+</h3>
<ul>
    {% for user in users %}
    {% if user.is_tested and user.is_vaccinated %}
    <li>{{user.name}}</li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Users only vaccinated</h3>
<ul>
    {% for user in users %}
    {% if user.is_vaccinated %}
    <li>{{user.name}}</li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Users only tested</h3>
<ul>
    {% for user in users %}
    {% if user.is_tested %}
    <li>{{user.name}}</li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Info for nerds</h3>
The server thinks it is: {{now}}


{% endblock %}