{% extends "layout.html" %}
{% block body %}
<h1>Certificate & PCR Test</h1>
You can only upload images of QR codes or PDFs.

<form action="{{url_for('upload_cert')}}" method="post" enctype="multipart/form-data" class="mb-5">
    <div class="mb-3 mt-2">
        Vaccination Certificate:
        <input class="form-control" type="file" name="vaccineFile" id="vaccineFile" onchange="enableForm()">
    </div>
    <div class="mb-3 mt-2">
        PCR Test:
        <input class="form-control" type="file" name="testFile" id="testFile" onchange="enableForm()">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="checkStorage" onchange="enableForm()">
        <label class="form-check-label" for="exampleCheck1">I agree that the <a
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">DSGVO</a> sucks and I don't care about pauls server
            extracting the dates from my qr codes.
        </label>
    </div>
    <input class="btn btn-primary w-100" type=submit id="submit" value=Upload disabled>
</form>

<script>
    const vaccineFileEl = document.getElementById("vaccineFile");
    const testFileEl = document.getElementById("testFile");
    const checkEl = document.getElementById("checkStorage");
    const submitEl = document.getElementById("submit");
    function enableForm() {
        if (checkEl.checked && (testFileEl.files.length != 0 || vaccineFileEl.files.length != 0)) {
            submitEl.disabled = false;
        } else {
            submitEl.disabled = true;
        }
    }
</script>

{% endblock %}