asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.3
cbor2==5.4.2
certifi==2021.10.8
certvalidator==0.11.1
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cose==0.9.dev8
cryptography==36.0.0
ecdsa==0.17.0
flake8==4.0.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
flynn==1.0.0b2
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
oscrypto==1.2.1
pdf2image==1.16.0
Pillow==8.4.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyzbar==0.1.8
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.28
urllib3==1.26.7
Werkzeug==2.0.2
