[Unit]
Description=2GPlus tool for private gatherings
After=network.target

[Service]
User=qr-registration
WorkingDirectory=/home/datenkrake/twogplus
ExecStart=/bin/bash -c 'source /home/qr-registration/space-trace/venv/bin/activate; gunicorn -w 24 --bind 0.0.0.0:5000 space_trace:app'
Restart=always

[Install]
WantedBy=multi-user.target