[Unit]
Description=2GPlus tool for private gatherings
After=network.target

[Service]
User=datenkrake
WorkingDirectory=/home/datenkrake/2gPlus
ExecStart=/bin/bash -c 'source /home/datenkrake/2gPlus/venv/bin/activate; gunicorn -w 24 --bind 0.0.0.0:5000 twogplus:app'
Restart=always

[Install]
WantedBy=multi-user.target